<nav class="navbar">
  <div class="position-relative d-flex align-items-center navbar__content">
    <div class="logo">
      <span class="logo-text">Cri</span>
      <span class="logo-text logo-text-colored">Coin</span>
    </div>
    <div class="settings d-flex">
      <div class="fiats-dropdown">
        <cricoin-dropdown [defaultOption]="'INR'" (optionSelected)="changeFiat($event)" label="Select Fiat" [id]="'fiat-list'" [options]="(fiats$ | async) || []">
          <ng-template let-option>
            <div class="d-flex align-items-center justify-content-around">
              <div>
                <cricoin-img [src]="option?.imageUrl" [height]="20" [width]="20"></cricoin-img>
              </div>
              <div class="fiat text-muted ml-2">
                {{ option?.name }}
              </div>
            </div>
          </ng-template>
        </cricoin-dropdown>
      </div>
      <!-- <div>
        Change duration
      </div> -->
    </div>
  </div>
</nav>
